<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="awsConnectionString" connectionString="mongodb://ec2-52-5-250-49.compute-1.amazonaws.com:27017"/>
  </connectionStrings>
  <appSettings>
    <add key="mdatabasename" value="surveys"/>
  </appSettings>
</configuration>